<button id="{{ button_id }}"
        class="{{ button_class }}"
        data-price="{{ price }}" data-num="1" data-sum="{{ price }}"
        onclick="FDPopup.open('{{ form_id }}', {'fields': { 'field401340': '{{ form_title }}' },'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;">
    {{ button_text }}
</button>